
   
<link rel="stylesheet" type="text/css" href="/_header.css">

<header id="sec">
   
    <div>
        <h2>Welcome to the social app by Rishabh Singh</h2>
    </div>

    <div>
        <div>
            <a href="/home">.Home</a>
        </div>

    <div>
        <a href="/sign-in">.Sign In</a>
    </div>
    <br>
    <div>
        <a href="/backtosignup">.New User? SignUp with a different account</a>
    </div>

</div>

</header>