
<link rel="stylesheet" type="text/css" href="/home.css">

<section id="feed-posts">
    <h1>Post your idea here</h1>

    <% if(locals.user){ %>
    <form  action="/posts/create" id="new-post-form" method="POST">   
        <textarea id="box" class="dodo" name="content" cols="30" rows="3" placeholder="Enter post here"></textarea>
        <input  type="submit" value="Make the post" class="dodo">
        
    </form>

    <% } %>

</section>

<%- include('_post') -%>