
<html>
<head>
    <link rel="stylesheet" href="/signing.css">
</head>

<body>

    <div>
<h2>profile-page</h2>
</div>


<section id="main">
<p>Name: <%=user.name %></p>
 <p>Email: <%=user.email%></p>
 <p>Profession: <%=user.profession%></p>

 <a href="/sign-out">Sign Out</a>
</section>



</body>
</html>