
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signing.css">

    <title>Document</title>
</head>
<body>
    
    <div>
        <h1>Sign-in</h1>

    </div>

    <div>
        <a href="/showw">Profile</a>

    </div>

    <section id="main">

        <form action="/create-session" method="POST">
            <p>Enter email:
            <input type="text" name="email" placeholder="enter registered email with us">
            </p>
            <p>Enter password
            <input type="password" name="password" placeholder="enter valid password">
            </p>
            <input type="submit">
        </form>
    </section>
</body>
