#sec{
    display: flex;
    flex-direction: row;
    background-color: #107dc5e7;
    justify-content: start;
    padding-bottom: 4%;
}

#sec div{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: large;
    
   
}

h2{
    font-family: cursive;
    text-align: center;
    color: rgba(15, 14, 14, 0.719);
}


div{
    
    font-family: cursive;
    font-weight: bold;
}