body{
    background-color: burlywood;
}

div{margin-left: 4rem;}
#main{
    background-color: cadetblue;
    margin: 4rem;
    padding: 4rem;
}

#main p{
    
    font-family: cursive;
    
    display: inline-block;
    padding: 1rem;
}