#sec{
    display: flex;
    flex-direction: row;
    background-color: #c58010e7;
    justify-content: start;
    margin-left: 2rem;
}

h2{
    font-family: cursive;
    text-align: center;
    color: rgba(83, 80, 255, 0.411);
}


div{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    justify-content: center;
    
}